

body{
  /* https://cssgradient.io/ */
  background: rgb(48,27,146);
  background: linear-gradient(180deg, rgba(48,27,146,1) 0%, rgba(14,71,160,1) 100%);
}
body *{
  color: white !important;
}

*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.app-root{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 95vh;
  /* overflow-y: auto; */
  /* overflow-x: hidden; */
  position: relative;
  padding-bottom: 3rem;
}





.navigator{
  /*position: fixed; */
  position: absolute;
  bottom: 0;
  height: 3rem;
  background-color: rgba(0,0,0,0.1);
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.navigator span{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.1);
}









.config-section-container{
  /*display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-start; */
  /* align-items: center; */
  overflow-y: auto;
  /* overflow-y: hidden; */
  overflow-x: hidden;
  width: 100%;
  min-height: calc(95vh - 3rem);
  /* padding-bottom: 3rem; */
  /* position: relative; */
  /* display: grid; */
  /* grid-template-columns: 1fr; */
  /* flex-grow: 1; */
  /* grid-template-rows: 1fr 3rem;*/
}
.config-section{
  margin: auto;
  display: flex;
  flex-direction: column;
  min-width: 230px;
  padding: 0.5rem 1rem;
  padding-bottom: 3rem;
  /* height: 100%;*/
  
}

.config-section-group{
  opacity: .4;
  transition: all .3s;
}
.config-section-group:first-of-type{
  opacity: 1;
  transition: all .3s;
}
.config-section-group:hover{
  opacity: 1;
  transition: all .3s;
}


.config-section__title{
  display: flex;
  align-items: center;
  padding: 2rem 0.5rem;
}

.config-section__title-icon-container{
  margin-right: 1rem;
  font-size: 1.5rem;
}
.config-content-container{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.config-section__separator{
  margin: 3rem 0;
}