

body{
  /* https://cssgradient.io/ */
  background: rgb(48,27,146);
  background: linear-gradient(180deg, rgba(48,27,146,1) 0%, rgba(14,71,160,1) 100%);
}
body *{
  color: white !important;
}

/* *, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */


.app-root{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 95vh;
  /* overflow-y: auto; */
  /* overflow-x: hidden; */
  position: relative;
  padding-bottom: 3rem;
}





.navigator{
  /*position: fixed; */
  position: absolute;
  bottom: 0;
  height: 3rem;
  background-color: rgba(0,0,0,0.1);
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.navigator span{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.1);
}









.config-section-container{
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  min-height: calc(95vh - 3rem);
  width: 95vw;
  max-width: 500px;
}
.config-section{
  margin: auto;
  display: flex;
  flex-direction: column;
  min-width: 230px;
  padding: 0.5rem 1rem;
  padding-bottom: 3rem;
}
.config-section__title{
  display: flex;
  align-items: center;
  padding: 2rem 0.5rem;
}
.config-section__title-text-container h1{
  line-height: 1.5;
}
.config-section__title-icon-container{
  margin-right: 1rem;
  font-size: 1.5rem;
}
.config-content-container{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.config-section__separator{
  margin: 3rem 0;
}


.config-section-container--project .config-section-group{
  opacity: .4;
  transition: all .3s;
}

.config-section-container--project .config-section-group:first-of-type{
  opacity: 1;
  transition: all .3s;
}
.config-section-container--project .config-section-group:hover{
  opacity: 1;
  transition: all .3s;
}





.config-section-container--settings input.config-section-group-opener{
  position: absolute;
  display: none;
}
.config-section-container--settings .config-section__title{
  background: rgba(0,0,0,0.2);
  background: #a65620;
  background: var(--accent-color-dark);
  background: white;
  padding-left: 1rem;
  cursor: pointer;
}
.config-section-container--settings .config-section__title *{
  color: var(--accent-color-dark) !important;
}
.config-section-container--settings .config-content-container{
  background: rgba(0,0,0,0.1);
  padding: 1rem 1rem 3rem 1rem;
  height: 0;
  overflow-y: hidden;
  padding-top: 0;
  padding-bottom: 0;
  transition: all .3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.config-section-container--settings input.config-section-group-opener:checked + .config-section__title + .config-content-container{
  padding-top: 1rem;
  padding-bottom: 3rem;
  height: 300px;
  height: auto;
  transition: all .3s;
}
.config-section-container--settings .opened-state{
  margin-right: 2rem;
  font-size: 2rem;
  transition: all .3s;
}
.config-section-container--settings input.config-section-group-opener:checked + .config-section__title .opened-state{
  transform: rotate(90deg);
  transition: all .3s;
}






.config-section-container--settings .config-content-container > div{
  margin-top: 4rem;
}
.config-section-container--settings h2{
  margin-bottom: 1.5rem;
}
/* .locations-container .location-new{ */
  /* display: grid;
  grid-template-columns: 1fr 2.5rem;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  margin-top: 1rem;
  width: 100%;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.1);
  outline: none;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
  transition: all .3s;
  cursor: pointer; */
/* } */
/* .locations-container .location-new:hover{ */
  /* background-color: rgba(0,0,0,0.2);
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.2);
  transition: all .3s; */
/* } */


.locations-container .input-with-icon-and-moving-label span{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  right: 0;
  transition: all .3s;
}
.locations-container .input-with-icon-and-moving-label:hover span{
  background: rgba(0,0,0,0.2);
  transition: all .3s;
}









.serial-numbers-add-controls__inputs .input-with-icon-and-moving-label label{
  opacity: .8;
  z-index: 0;
  font-weight: bold;
}





.serial-numbers-add-controls{
  display: grid;
  /* grid-template-rows: 1fr; */
  grid-template-columns: 2rem 1fr;
  min-height: 200px;
}
.serial-numbers-add-controls input[type="radio"]{
  display: none;
}
.serial-numbers-add-controls__icon-container{
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.01);
  border-right-width: 0;
  transition: all .3s;
}
.serial-numbers-add-controls__icon-container:hover{
  background-color: rgba(0,0,0,0.2);
  transition: all .3s;
}
.serial-numbers-add-controls__icons{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.serial-numbers-add-controls__icon-text{
  display: none;
}

.serial-numbers-add-controls__inputs{
  border: 1px solid rgba(0,0,0,0.1);
}
.serial-numbers-add-controls input#serial-numbers-add-from-text:checked ~ .serial-numbers-add-controls__icons #serial-numbers-add-from-text-label *{
  color: #333 !important;
}
.serial-numbers-add-controls input#serial-numbers-add-from-text:checked ~ .serial-numbers-add-controls__icons #serial-numbers-add-from-text-label{
  background-color: rgba(0,0,0,0.1);
  background-color: white;
}
.serial-numbers-add-controls input#serial-numbers-add-from-file:checked ~ .serial-numbers-add-controls__icons #serial-numbers-add-from-file-label *{
  color: #333 !important;
}
.serial-numbers-add-controls input#serial-numbers-add-from-file:checked ~ .serial-numbers-add-controls__icons #serial-numbers-add-from-file-label{
  background-color: rgba(0,0,0,0.1);
  background-color: white;
}
.serial-numbers-add-controls__inputs{
  background-color: rgba(0,0,0,0.1);
  background-color: white;
  border-left-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
}
.serial-numbers-add-controls__inputs * {
  color: #333 !important;
}
.serial-numbers-add-controls__inputs > div{
  display: none;
  justify-content: center;
  align-items: center;
}
.serial-numbers-add-controls input#serial-numbers-add-from-text:checked ~ .serial-numbers-add-controls__inputs .serial-numbers-add-controls__inputs-from-text{
  display: flex;
}
.serial-numbers-add-controls input#serial-numbers-add-from-file:checked ~ .serial-numbers-add-controls__inputs .serial-numbers-add-controls__inputs-from-file{
  display: flex;
}
.serial-numbers-add-controls__inputs textarea{
  background-color: rgba(0,0,0,0.1);
  background-color: #eee;
  width: 100%;
}
.serial-numbers-add-controls__inputs input[type="file"]{
  width: 100%;
}
.serial-numbers-add-controls__inputs .serial-numbers-add-controls__inputs-from-text{
  width: 100%;
}
.serial-numbers-add-controls__inputs .input-with-icon-and-moving-label{
  width: 100%;
}

.serial-numbers-list{
  margin-top: 1.5rem;
}
.serial-numbers-list > span{
  display: inline-block;
  background: #863703;
  background: var(--accent-color-dark);
  padding: .2rem .5rem;
  color: #e0e0e0 !important;
  border-radius: 7px;
  font-size: .8rem;
  font-weight: bold;
  margin-top: .1rem;
  margin-right: -0.2rem;
}
.serial-numbers-list i{
  color: #971212 !important;
  margin-left: .3rem;
}









.config-section-group--advanced-settings .config-content-container > div{
  margin-top: 0;
}
.config-section-group--advanced-settings .input-with-icon-and-moving-label{
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.config-section-group--advanced-settings .test-item{
  margin-bottom: 2rem;
  border-left: 1px solid rgba(255,255,255,0.1);
  padding: .5rem;
  padding-right: 0;
  margin-top: 1rem !important;
}
.config-section-group--advanced-settings .test-item .input-with-icon-and-moving-label{
  margin-bottom: 0;
}

.config-section-group--advanced-settings h3{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.config-section-group--advanced-settings .test-item h3 > span{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: rgba(0,0,0,.1);
  transition: all .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.config-section-group--advanced-settings .test-item:hover h3 > span{
  background-color: rgba(0,0,0,0.2);
  background-color: #863703;
  background-color: var(--accent-color-darker);
  transition: all .3s;
}









.serial-number-modal .container{
  padding: 1rem 1rem;
  overflow-y: auto;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  /* min-height: calc(95vh - 3rem); */
  width: 95vw;
  max-width: 500px;
}
.serial-number-modal .container__header{
  height: 6rem;
}
.serial-number-modal .container__body > div{
  margin-bottom: 3rem;
}
.serial-number-modal .group-header{
  display: grid;
  grid-template-columns: 1fr 2rem;
  margin-bottom: 2rem;
}
.serial-number-modal .group-header span{
  display: flex;
  justify-content: flex-end;
}
.serial-number-modal .sn-data-section__copy-result{
  margin-top: 5rem;
}
.serial-number-modal .sn-data-section__copy-result .group-item{
  border-bottom: 1px solid rgba(255,255,255,0.3);
  padding: .5rem;
}
.serial-number-modal .sn-data-section__copy-result .group-item span{
  word-break: break-all;
  line-height: 1.5;
}
.serial-number-modal .sn-data-section__test-results .group-item{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2rem;
  grid-gap: .25rem;
  padding-left: .5rem;
  margin-bottom: 1rem;
}


.serial-number-modal .sn-data-section__test-results .test-item__icon{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


#config-modal--main-ui{
  display: none;
}
#config-modal--main-ui:not(:checked) + .main-page {
  opacity: 0;
}

.main-page {
  padding: 0rem;
}
.main-page .group{
  max-width: 400px;
  margin: auto;
}
.main-page .page__header{
  padding: 1rem;
  position: relative;
  /* padding-bottom: 1.5rem; */
  background: rgb(48,27,146);
  background: linear-gradient(31deg, rgba(48,27,146,1) 0%, rgba(14,71,160,1) 100%);
}
/* .main-page .page__header > .group:first-of-type{
  display: grid;
  grid-template-columns: 1fr 50px;
} */
.main-page .page__header h1{
  align-self: center;
  text-align: center;
  /* margin-top: .5rem; */
  margin-bottom: 1.5rem;
}
.main-page .page__header .filter{
  margin-right: .5rem;
  display: inline-flex;
  border-radius: 50%;
  background: rgba(0,0,0,0.1);
  width: 1.5rem;
  height: 1.5rem;
  justify-content: center;
  align-items: center;
  transition: all .3s;
  cursor: pointer;
}
.main-page .page__header .progress-stats-3-categories:hover .filter{
  background: rgba(0,0,0,0.3);
  transition: all .3s;
}
.main-page .page__header .progress-stats-3-categories{
  transform: scale(.9);
}
.main-page .page__header .input-with-icon-and-moving-label{
  transform: scale(.9);
  /* margin-top: 1rem;*/
}
.main-page .page__header .input-with-icon-and-moving-label label{
  z-index: 0;
}
.main-page .page__body{
  padding: 1rem;
  background: white;
  margin-top: 0;
}
.main-page .page__body *{
  color: #000 !important;
  font-weight: bold;
  font-size: .9rem;
}

.main-page .page__body__inner-container{
  -webkit-columns: 220px;
  -moz-columns: 220px;
  columns: 220px;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  max-width: 1000px;
  margin: auto;
}
.main-page .page__body .four-step-trackable-item{
  padding: 0rem .3rem .3rem .5rem;
  border-radius: 3px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
.main-page .page__body .four-step-trackable-item__content{
  padding-left: 0;
  padding-right: 0;
}
.main-page .page__body .four-step-trackable-item__content__icon{
  transform: scale(.9);
  background: rgba(0,0,0,0.04);
}
.main-page .page__body .four-step-trackable-item__content__icon i{
  color: #aaa !important;
}


.search-serial-number > input{
  width: 100%;
}
#filter-controls .expandable-buttons__item button{
  margin-top: 0;
  grid-template-columns: 1fr;
}
#filter-controls .expandable-buttons__item:not(:first-of-type){
  width: 5rem;
}
#filter-controls .expandable-buttons__item:not(:first-of-type) button{
  grid-template-columns: 1fr 1fr;
  gap: .5rem 0;
  padding-left: .5rem;
  padding-right: .5rem;
}
#filter-controls button span{
  align-self: center;
}
#filter-controls .expandable-buttons__item{
  margin-left: 2px;
} 


.navigator span{
  background-color: transparent;
}
.navigator span *{
  color: #ff6600 !important;
  color: var(--accent-color-light) !important;
}