/* Resets */
*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 100%;
  font-style: normal;
  font-weight: 300;
  line-height: 1;
  margin: 0;
  padding: 0;
  
}

ul{
  list-style: none;
}
input, textarea{
  background: none;
  border: none;
  outline: none;
  padding: 0.5rem;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  color: white;
  font-size: 100%;
}
input::placeholder{
  opacity: 0.5;
  color: white;
}
textarea{
  padding: 1rem 1rem;
}

button{
  display: grid;
  grid-template-columns: 1fr 2.5rem;
  margin-top: 1rem;
  width: 100%;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.1);
  outline: none;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
  transition: all .3s;
  cursor: pointer;
}
button:hover{
  background-color: rgba(0,0,0,0.2);
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.2);
  transition: all .3s;
}
.button-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(0,0,0,0.05);
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  transition: all .3s;
}
.button:hover .button-icon{
  background: rgba(0,0,0,0.2);
  transition: all .3s;
}
.button-text{
  word-break: break-all;
  /* padding-bottom: .5rem; */
  padding-left: .5rem;
  padding-right: .5rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  height: 100%;
}

/* Utils */

.d-flex-centered{
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-none{
  display: none !important;
}




.rotate-180{
  transform: rotate(180deg);
}

/* .config-title > *{
  font-size: 2rem !important;
}
.config-title > * > i{
  margin-right: 1.5rem;
} */







/*Dropdown*/
.dropdown {
	--height: 2.3rem;
	--outline-color: rgba(255,255,255,0.5);
	--border-color: rgba(255,255,255,0.05);
	--selected-bg:  rgb(0 39 101);
	--hovered-bg: rgba(0,0,0,0.04);
	--text-color: white;
	min-width: 225px;
	min-height: 40px;
	min-height: var(--height);
	cursor: pointer;
	background-color: transparent;
	border-radius: 2px;
	position: relative;
	border-color: rgba(0,0,0,0.1);
	/* border: 1px solid var(--border-color); */
	border-bottom: 1px solid var(--outline-color);
	color: white;
	color: var(--text-color);
/*   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  /* box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2); */
}
.dropdown_expandLabel,
.dropdown_closeLabel{
	height: 40px;
	height: var(--height);
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0; 
	z-index: 10;
}
.dropdown_closeLabel{
	display: none;
}
.dropdown_close {
	display: none;
}
.dropdown_input {
	display: none;
}
.dropdown_label{
	height: 0;
	display: flex;
	align-items: center;
	overflow-y: hidden;
	border-bottom-color: rgba(0,0,0,0.1);
	border-bottom: 1px solid var(--border-color);
	border-bottom-width: 0px;
	padding-left: .5rem; 
	transition: all 250ms cubic-bezier(.4,.25,.3,1);
	opacity: 0;
}

.dropdown_expand:checked + .dropdown_closeLabel {
	display: block;
}
.dropdown_expand:checked + .dropdown_closeLabel + .dropdown_options .dropdown_label{
	height: 40px;
	height: var(--height);
	opacity: 1;
	border-bottom-width: 1px;
	transition: all 250ms cubic-bezier(.4,.25,.3,1);
}
.dropdown_expand:checked + .dropdown_closeLabel + .dropdown_options{
	margin-top: 40px;
	margin-top: var(--height);
	transition: all 250ms cubic-bezier(.4,.25,.3,1);
}

.dropdown_expand:checked + .dropdown_closeLabel + .dropdown_options + .dropdown_expandLabel {
	display: none;
}
.dropdown_input:checked + .dropdown_label {
	height: 40px;
	height: var(--height);
	transition: all 250ms cubic-bezier(.4,.25,.3,1);
	opacity: 1;
	background: #eee;
	background: var(--selected-bg);
}
.dropdown_label-placeholder {
	height: 40px;
	height: var(--height);
	vertical-align: middle;
	position: absolute;
	top: 0;
	left: 0;
	opacity: .6;
	background-color: transparent;
	z-index: 0;
}


.dropdown_expand {
	width: 0;
	height: 40px;
	height: var(--height);
	position: absolute;
	top: 0;
	right: 0;
}

.dropdown_expand::after {
	content: '\003E';
	position: absolute;
	top: 60%;
	right: 0;
	-webkit-transform: translate(-50%, -50%) rotate(180deg) scaleY(1.2) scaleX(.9);
	transform: translate(-50%, -50%) rotate(180deg) scaleY(1.2) scaleX(.9);
	color: white;
	color: var(--text-color);
	font-size: 28px;
	pointer-events: none;
	z-index: 10;
	-webkit-transition: all 250ms cubic-bezier(.4,.25,.3,1);
	transition: all 250ms cubic-bezier(.4,.25,.3,1);
	opacity: .6;
}

.dropdown_expand:hover::after {
	opacity: 1;
}

.dropdown_expand:checked::after {
	-webkit-transform: translate(-50%, -50%) rotate(90deg)	scaleY(1.2) scaleX(.9);
	transform: translate(-50%, -50%) rotate(90deg)	scaleY(1.2) scaleX(.9);
}

.dropdown_options{
	max-height: 160px;
	overflow-y: auto;
	transition: all 250ms cubic-bezier(.4,.25,.3,1);
	position: relative;
	z-index: 5;
}

.dropdown_expand:checked + .dropdown_closeLabel + .dropdown_options .dropdown_label:hover {
	background-color: rgba(0,0,0,0.04);
	background: var(--hovered-bg);
}







.input-with-icon,
.input-with-icon-and-moving-label{
  display: flex;
  align-items: stretch;
  flex-direction: column;
  position: relative;
  margin-top: 1rem;
}
.input-with-icon input,
.input-with-icon-and-moving-label textarea,
.input-with-icon-and-moving-label input{
  padding-right: 2rem;
}
.input-with-icon span,
.input-with-icon-and-moving-label span{
  position: absolute;
  right: 0.5rem;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.input-with-icon-and-moving-label label{
  position: absolute;
  top: 0.7rem;
  left: 0.5rem;
  font-size: 1rem;
  transition: all .2s ease;
  opacity: .6;
  z-index: -1;
}
.input-with-icon-and-moving-label textarea:valid ~ label,
.input-with-icon-and-moving-label input:valid ~ label,
.input-with-icon-and-moving-label textarea:focus ~ label,
.input-with-icon-and-moving-label input:focus ~ label{
  top: -.5rem;
  font-size: .7rem;
  opacity: .8;
}

.input-with-icon-and-moving-label textarea:valid ~ label,
.input-with-icon-and-moving-label textarea:focus ~ label{
  top: -1rem;
}







.modal-outer-container{
  position: fixed;
  height: 0;
  width: 0;
  top: 0;
  left: 0;
}
.modal-outer-container .modal-inner-container{
  position: relative;
  height: 0;
  width: 0;
  width: 100vw;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all .3s;
}
.modal-outer-container input[type="radio"]{
  z-index: 10;
  position: absolute;
}
.modal-outer-container input[type="radio"]:checked + .modal-inner-container{
  height: 100vh;
  opacity: 1;
  transition: all .3s;
}
.modal{
  min-width: 200px;
  min-height: 200px;
  background-color: rgba(0,0,0,0.1);
  /* display: grid; */
  /* grid-template-columns: 1fr; */
  /* grid-template-rows: 1fr; */
  overflow-y: scroll;
  max-height: 90vh;
  display: flex;
  /* display: table; */
  /* margin: auto; */
  padding-bottom: 3rem;
  position: relative;
  overflow: hidden;
}















.page{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 50%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, 0);
}
.page__body{
  flex: 1 1 auto;
  overflow-y: auto;
  margin-top: 1rem;
}
.page__header{
  flex: 0 0 auto;
}



.bar-chart-2-categories-percents{
  display: flex;
  align-items: flex-end;
  --category-1-color: #0ea50e;
  --category-2-color: #923c3c;
}
.bar-chart-2-categories-percents > div{
  --max-height: 50px;
  height: 50px;
  height: var(--max-height);
  width: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 .3rem;
  position: relative;
}
.bar-chart-2-categories-percents > div::after,
.bar-chart-2-categories-percents > div::before{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc( var(--category-1) * var(--max-height) / 100 );
  background-color: #0ea50e;
  background-color: var(--category-1-color);
}
.bar-chart-2-categories-percents > div::before{
  bottom: calc( 1px + var(--category-1) * var(--max-height) / 100 );;
  height: calc( var(--category-2) * var(--max-height) / 100 );
  background-color: #923c3c;
  background-color: var(--category-2-color);
}















.progress-stats-3-categories {
  --category-1-color: #00c000;
  --category-2-color: #c14040;
  --category-3-color: rgba(159, 159, 159, 0.20);
  position: relative;
  margin: 1.2rem 0;
  display: grid;
  grid-template-columns: 1fr 4rem 4rem;
  gap: .5rem 0;
}
.progress-stats-3-categories__item{
  margin-right: .5rem;
  /* min-width: 3rem; */
  display: inline-block;
  text-align: right;
  font-weight: bold;
}
.progress-stats-3-categories__item:nth-child(2){
  color: green !important;
  color: var(--category-1-color) !important;
}
.progress-stats-3-categories__item:nth-child(3){
  color: red !important;
  color: var(--category-2-color) !important;
}
.progress-stats-3-categories__item:nth-child(4){
  position: relative;
  right: -8rem;
  color: rgba(0, 0, 0, 0.2) !important;
  color: var(--category-3-color) !important;
}
.progress-stats-3-categories__item:hover{
  transition: all .3s;
}
.progress-stats-3-categories__item::before,
.progress-stats-3-categories__item::after{
  position: absolute;
  content: "";
  left: 0;
  /* right: 0; */
  width: 100%;
  bottom: -.4rem;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  /* background-color: var(--category-3-color); */
  z-index: 2;
  transition: all .3s;
}
.progress-stats-3-categories__item:not(:nth-child(1)):not(:nth-child(2))::before{
  width: 0;
  /* content: " - ";
  position: relative;
  left: -0.3rem;
  top: 0;
  background-color: transparent; */
}
.progress-stats-3-categories__item:nth-child(1)::after{
  z-index: 1;
}
.progress-stats-3-categories__item:nth-child(2)::after{
  background-color: green;
  background-color: var(--category-1-color);
  left: 0;
  width: 33%;
  width: calc(var(--category-1));
}
.progress-stats-3-categories__item:nth-child(3)::after{
  background-color: red;
  background-color: var(--category-2-color);
  left: 33.7%;
  left: calc(var(--category-1) + 1px);
  width: 33%;
  width: calc(var(--category-2));
}
.progress-stats-3-categories__item:nth-child(4)::after{
  background-color: red;
  background-color: transparent;
  /* Not needed - 3rd category will default to default after  */
  /* left: calc(40% + 30% + 1px); */
  /* width: calc(30%);  */
}
.progress-stats-3-categories__item:not(:nth-child(1)):hover::after{
  height: 5px;
  transition: all .3s;
}
.progress-stats-3-categories__item--invisible{
  display: none;
}







.expandable-buttons{
  width: 100%; 
  background: rgba(0,0,0,0.2);
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}
.expandable-buttons__item{
  min-height: 3rem;
  background: rgba(0,0,0,0.2);
  width: 3rem;
  min-width: 3rem;
  display: inline-block;
  transition: all .3s;
  margin-left: 1px;
  
  display: flex;
  justify-content: flex-end;
}
.expandable-buttons__item:not(.expandable-buttons__item--empty):hover{
  width: 100%;
  transition: all .3s;
}

.expandable-buttons__item__button-slot{
  min-width: 3rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.expandable-buttons__item__content-slot{
  background: rgba(0,0,0,0.2);
  transition: all .3s;
  width: 0;
  overflow-x: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  opacity: 0;
  padding: .3rem .5rem;
  overflow-x: auto;
}
.expandable-buttons__item--empty .expandable-buttons__item__content-slot{
  padding: 0;
}
.expandable-buttons__item:not(.expandable-buttons__item--empty):hover .expandable-buttons__item__content-slot{
  width: 100%;
  transition: all .3s;
  opacity: 1;
}
.expandable-buttons__item--empty .expandable-buttons__item__button-slot{
  width: 100%;
}









.four-step-trackable-item{
  --success-track-color: green;
  --failure-track-color: red;
  transition: all .3s;
  border-radius: 5px;
  cursor: pointer;
}
.four-step-trackable-item:hover{
  background-color: rgba(0, 0, 0, 0.1);
  
}
.four-step-trackable-item__content{
  display: flex;
  padding: .5rem .5rem 0.1rem .5rem;
  margin-top: .7rem;
}
.four-step-trackable-item__content__text{
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.four-step-trackable-item__content__icon{
    /* flex-basis: 2rem; */
    /* flex-grow: 0; */
    background: rgba(0,0,0,0.1);
    text-align: center;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.four-step-trackable-item__tracks{
  display: flex;
  justify-content: space-between;
}
.four-step-trackable-item__tracks span{
    background-color: rgba(0, 0, 0, 0.2);
    height: 2px;
    width: 24%;
}
.four-step-trackable-item__tracks span.success{
  background-color: var(--success-track-color);
}
.four-step-trackable-item__tracks span.failure{
  background-color: var(--failure-track-color);
}